a {
    text-decoration: none;
 }

.current{
    font-size: 40px; 
    font-weight: bold;
    
}


h1{
    text-align: center;
  
  }


  .nav {
    background-color: #97dffc;
    display: flex; 
    height: 60px;
    justify-content: space-evenly;
}

.nav a {
    margin-top: 20px;
}


.title{
    color: green;
    font-weight: lighter;
    font-size: 70px;
    margin-right: 20px;

}


.type{
    font-size: 30px;
    font-style: italic;
}


.WeatherCard  {
    background-color: white;
    border: solid 1px black; 
    max-width: 600px;
    max-height: 1000px;
    text-align: center;
    margin: 0 auto;

}



.WeatherCard--weatherType svg {
    width: 190px;
    height: 100px; 
 }


